<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer_feedback.first_name %>
</p>

<!-- <p>
  <strong>Last name:</strong>
  <%= @customer_feedback.last_name %>
</p> -->
